.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 10px;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.filter-button {
  padding: 10px 20px;
  background-color: #6b46c1;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.filter-button:hover {
  transform: scale(1.2);
  color: white;
}

.cancel-filter-button {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 0px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.cancel-filter-button:hover {
  transform: scale(1.2);
  color: white
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
  overflow: hidden;
}

.hostel-list-section {
  flex: 1;
  overflow-y: auto;
  margin-left: 20px;
}

.hostel-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.map-explore-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  overflow: visible;
}

.home-map-container {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.map-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.login-info {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.sort-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.sort-group {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.sort-group label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-button {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.sort-button.selected {
  background-color: #6b46c1;
  color: #fff;
}

.sort-button:hover {
  transform: scale(1.1);
}
