.filter-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h2 {
    margin-bottom: 50px;
    font-size: 30px;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;

    .filter-row,
    .price-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 15px;

      .filter-item {
        flex: 1;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        label {
          display: block;
          margin-bottom: 5px;
          font-size: 23px;
        }

        .button-group {
          display: flex;
          flex-wrap: nowrap;

          .filter-button {
            padding: 15px;
            margin-right: 10px;
            border: 1px solid #ccc;
            background-color: white;
            color: black;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
            font-size: 20px;
            border-radius: 20px;

            &:hover {
              background-color: #f0f0f0;
            }

            &.selected {
              background: linear-gradient(to bottom, #917afd, #6246ea);
              color: white;
              border-color: #ccc;
            }
          }
        }

        input {
          width: 100%;
          padding: 8px;
          box-sizing: border-box;
          font-size: 20px;
        }
      }
    }

    .filter-item {
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 23px;
      }

      input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        font-size: 20px;
      }
    }

    .apply-filter-button,
    .reset-button {
      padding: 12px 24px;
      background-color: #6b46c1;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 20px;
      border-radius: 8px;
      transition: transform 0.3s ease;
      border: 1px solid #ccc;
      margin-top: 10px;
    }

    .apply-filter-button:hover,
    .reset-button:hover {
      transform: scale(1.1);
    }
  }
}
