.about-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff
}

.about-header {
  text-align: center;
  margin-bottom: 40px;
}

.about-header h1 {
  font-size: 48px;
  font-weight: bold;
}

.about-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.about-section {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.about-section:last-child {
  margin-right: 0;
}

.about-section h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.about-section p {
  font-size: 18px;
  line-height: 1.6;
}

.about-section ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.about-section ul li {
  margin-bottom: 5px;
}
